[user]
    name = Mert, Kepildek
    email = mertkepildek@gmail.com
    password = Mert.2000
[http]
    sslVerify = false
    proxy = 
[https]
    sslverify = false
[push]
    default = simple
[credential]
    helper = cache --timeout=360000000
[core]
    autocrlf = false