<div class="text-center">
    <h2>Bünyemizde Bulunan Şef Kadrosu</h2>
    <hr>
    {{#if chefs.length}}
        {{#each chefs}}
            <p>Şef Adı : {{name}}</p>
            <hr>
        {{/each}}
    {{/if}}
</div>