<div class="text-center">
    <h2>Yemek Tarifleri</h2>
    <hr>
    {{#if recipes.length}}
        {{#each recipes}}
            <p>Tarif Adı : {{name}} | Porsiyon : {{portion}} | Şef Adı : {{chefname}}</p>
            <hr>
        {{/each}}
    {{/if}}
</div>