<div class="text-center">
    <h2>Yemek Tarifleri</h2>
    <hr>
    {{#if recipes.length}}
        {{#each recipes}}
            <p>Tarif Adı : {{name}}</p>
            <p>Porsiyon : {{portion}}</p>
            <p>Şef Adı : {{chefname}}</p>
        {{/each}}
    {{/if}}
</div>